<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
   <test name="TestChrome">
      <parameter name="browser" value="Chrome" />
      <classes>
         <class name="com.hellofresh.challenge.WebTest" />
      </classes>
   </test>
   <test name="TestFirefox">
      <parameter name="browser" value="Firefox" />
      <classes>
         <class name="com.hellofresh.challenge.WebTest" />
      </classes>
   </test>
</suite>
<!-- Suite -->
